ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

#calendar{
    margin:0;
    position: absolute;
    left: 52%
}

/* Month header */
.month {
  padding: 70px 1px;
  width: 700px;
  background: #1a5ce0;
  text-align: center;
  
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
  width: 100.2%;
}

.weekdays li {
  display: inline-block;
  width: 13.4%;
  color: #666;
  text-align: center;
  
  
}

/* Days (1-31) */
.days {
  padding:0px 0;
  background: #eee;
  margin: 0;
  width: 100.2%;

  
}

.days li {
  margin: 0;
  list-style-type: none;
  display: inline-block;
  width: 14%;
  text-align: center;
  font-size:16px;
  color: #777;
  border-style: solid;
  border-width: 0.5px;
  padding-top: 35px;
  padding-bottom: 35px;
  
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important;
  position: absolute;
  
}
.sidebar {
    text-align: left;
    border: solid;
    max-width:40%;
    min-width: 40%;
    margin-left: 55px;
    position: absolute;
    padding-right: 5px;
}
.date{
    margin-left: 20px;
}
.items li{
    font-size: 14px ;
}
h1 {

    font-size: 22px;
}
h2{
    font-size: 16px;
    padding-top: 20px;
}

.month .prev:hover,
.month .next:hover {
  color: rgb(13, 12, 103);
}

