ul {
  list-style-type: none;
}

body {
  font-family: K2D;
}

.calendar {
  width: 65%;
}

#calendar{
    margin:0;
    position: absolute;
    left: 50%;
    width:45%;
    height:auto;
}

/* Month header */
.month {
  padding: 70px 1px;
  width: 100%;
  background: #1a5ce0;
  text-align: center;
  border-radius: 15px 15px 0 0;
  
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 0px;
  font-size: 30px;
  margin-left: 5px;

}

/* Next button */
.month .next {
  float: right;
  padding-top: 0px;
  font-size: 30px;
  margin-right: 5px;

}

/* Weekdays (Mon-Sun) */
.weekdays {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
  width: 100.2%;
}

.weekdays li {
  display: inline-block;
  width: 12.6%;
  color: #666;
  text-align: center;
  justify-content: space-between;
}

/* Days (1-31) */
.days {
  width: 100%;
  padding: 10px 0;
  background: #eee;
  margin: 0;
  width: 100.2%;
  border-radius: 0 0 5% 5%;

  
}

.days li{
  margin: 10px;
  list-style-type: none;
  display: inline-block;
  width: 10%;
  text-align: center;
  font-size: 16px;
  color: #050000;
  padding-top: 16px;
  padding-bottom: 16px;
  
}
.days li:hover{
  background: #ae21b3;
  border:hidden;
  border-radius: 50%;
  color: white;

}
/* Highlight the hovered day */
.days li.active{
  background: #c1700d;
  border:hidden;
  border-radius: 50%;
  color: white;

  
}
.days li.active:hover{
  background: #3e1b94;
  border:hidden;
  border-radius: 50%;
  color: white;

  
}
.sidebar {
    text-align: left;
    max-width:40%;
    min-width: 40%;
    width: 40%;
    margin-left: 55px;
    position: absolute;
    padding-right: 5px;
    margin-right: 5px;
    border-radius: 10%;
    border:solid;
    background-color: rgb(195, 101, 138);
}
.date{
    margin-left: 20px;
}
.items li{
    font-size: 14px ;
}
h1 {

    font-size: 22px;
}
h2{
    font-size: 16px;
    padding-top: 20px;
}

.month .prev:hover,
.month .next:hover {
  color: rgb(13, 12, 103);
}
.addButton{
  background-color: aqua;
  border-radius: hidden;
  margin-top: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  width:40px;
  height:40px;
}
