.title-bar {
  /* background-color: red; */
  border-bottom: 1px solid black;
  padding: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-panel {
  display: none;
}

.logout-panel {
  display: block;
}
